#title {
    text-align: center;
}

#page {
    display: flex;
    flex-wrap: wrap;
}

.section {
    display: flex;
    width: 100%;
}

@media only screen and (min-width: 768px) {
    .page {
      width: 768px;
      margin: 0 auto;
    }
    
    #img-div,
    #text-div {
      width: 50%;
    }
  }

figure {
    border-width: 1px;
    border-style: solid;
    padding: 0.5em;
}

#image {
    display: block;
    max-width: 100%;
    height: auto;
    margin: auto;
}

#img-caption {
    text-align: center;
    margin: 0.5em;
}

#tribute-info {
    text-align: justify;
    text-justify: inter-word;
    margin: 1em;
}

#tribute-link {
    display: block;
    margin: 1em;
}

#gh-link {
    display: block;
    margin: 1em;
}

footer {
    text-align: center;
    margin: 1em;
}