#title {
    text-align: center;
}

figure {
    border-width: 1px;
    border-style: solid;
    padding: 0.5em;
}

#image {
    display: block;
    max-width: 100%;
    height: auto;
    margin: auto;
}

#img-caption {
    text-align: center;
    margin: 0.5em;
}

#tribute-info {
    text-align: justify;
    text-justify: inter-word;
    margin: 1em;
}

#tribute-link {
    display: block;
    margin: 1em;
}

footer {
    text-align: center;
    margin: 1em;
}